/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* border box fix */
html {
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
  max-width: 1200px;
  font-size: 1.8vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ============================================================== */
/* NAV section */
section,
nav {
  padding-left: 7%;
  padding-right: 7%;
}

nav {
  text-align: center;
  background: rgba(255, 255, 255, 0.986);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(243, 243, 243, 0.993);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.45);
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.781);
  color: rgb(50, 51, 53);
}

.btn {
  text-decoration: none;
  background: rgba(6, 136, 243, 0.5);
  color: white;
  padding: 0.2rem;
  display: inline-block;
  box-shadow: inset 0 0 15px 1px rgba(4, 78, 139, 0.507),
    1px 1px 2px 1px rgba(0, 4, 7, 0.507);
  border: 1px solid rgba(6, 136, 243, 0.513);
  border-radius: 3%;
  font-size: 0.9rem;
}

/* ============================================================== */

/* About */
#name,
#email,
#linkedin,
#phone {
  width: 48%;
  display: inline-block;
  margin: 4px 0 4px 0;
}

#name {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
}

#about1 {
  height: 55px;
}

#about,
#education {
  padding-bottom: 10px;
}

#volunteer {
  padding-bottom: 60px;
}

.education {
  margin-bottom: 30px;
}

.info,
.degree {
  margin: 0px 0 4px 0;
}

.degree,
.school {
  display: inline-block;
}

#email,
#phone {
  text-align: right;
}

.sandq {
  margin-top: -10px;
  overflow: auto;
  padding-left: 5%;
}
.skills {
  font-size: 1.15rem;
  width: 20%;
  list-style: none;
  float: left;
  padding-left: 4%;
}

.project {
  margin: 0;
  list-style-type: square;
  a {
    word-break: break-all;
  }
}

.pTitle {
  margin-bottom: 0px;
}

clearfix::after {
  overflow: auto;
  zoom: 1;
}

.headings {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
}

/* ============================================================== */
/* Work */

#work {
  clear: both;
  margin-bottom: 40px;
}

#info,
#infoProjects {
  text-align: center;
}

.company,
.date {
  display: inline-block;
  margin: 10px 0 4px 0;
}

.company {
  width: 80%;
}

.job {
  margin-top: 1px;
  margin-bottom: 4px;
  font-style: italic;
}

.jobDetails {
  margin-top: 4px;
  margin-bottom: 4px;
  list-style-type: square;
  li {
    margin-bottom: 4px;
  }
}

/* ============================================================== */
/*Education  */
.school {
  margin-bottom: 4px;
  margin-top: 4px;
}

/* ============================================================== */
/*Footer */
footer {
  padding-left: 7%;
  padding-right: 7%;
}

.contact-info a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.603);
  color: black;
}

@media screen and (max-width: 895px) {
  nav a {
    padding: 10px 10px;
  }
}

@media screen and (min-width: 910px) {
  html {
    font-size: 17px;
  }
  #about1 {
    height: 80px;
  }
}
